<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyj.fmk.mapper.BottleMapper">
    <insert id="insertBtlLtr" parameterType="ReqBottleLtrDTO" useGeneratedKeys="true" keyProperty="btlLtrNo">
        /* 유리병 편지 마스터 인서트*/
        INSERT INTO BTL_LTR
        (
          BTL_TITLE
        , BTL_CONTENT
        , REG_SEQ_ID
        , UPD_SEQ_ID
        , START_LAT
        , START_LOT
        , BTL_STATUS_CODE
        )
        VALUES
        (
          #{title}
        , #{content}
        , #{usrSeqId}
        , #{usrSeqId}
        , #{lat}
        , #{lot}
        , 'PROGRESS'
        )
    </insert>

    <select id="selectExcludeBtlList" parameterType="java.util.List" resultType="String">
        /* 유리병 편지 제외리스트 조회*/
        SELECT BTL_LTR_NO
          FROM BTL_LTR
         WHERE 1=1
           AND REG_SEQ_ID = #{usrSeqId}
           AND BTL_LTR_NO IN
            <foreach collection="returnList" item="btlNo" open="(" separator="," close=")">
                #{btlNo}
            </foreach>

        UNION ALL

        SELECT BTL_LTR_NO
          FROM BTL_LTR
         WHERE 1=1
           AND REG_SEQ_ID <![CDATA[<>]]> #{usrSeqId}
           AND BTL_LTR_NO IN
            <foreach collection="returnList" item="btlNo" open="(" separator="," close=")">
                #{btlNo}
            </foreach>
           AND BTL_LTR.BTL_STATUS_CODE ='DESTROY'

        UNION ALL

        SELECT BTL_LTR.BTL_LTR_NO
          FROM BTL_LTR BTL_LTR
          JOIN BTL_LTR_MEM_MPNG BLMM
            ON BLMM.READ_SEQ_ID = #{usrSeqId}
           AND BTL_LTR.BTL_LTR_NO    = BLMM.BTL_LTR_NO
         WHERE 1=1
        AND BTL_LTR.BTL_LTR_NO IN
        <foreach collection="returnList" item="btlNo" open="(" separator="," close=")">
            #{btlNo}
        </foreach>
        AND BTL_LTR.BTL_STATUS_CODE <![CDATA[<>]]> 'DESTROY'
    </select>

    <select id="selectBtlLtrDetail" parameterType="ReqBottleLtrDetialDTO" resultType="ResBottleLtrDetail">
        /* 유리병 편지 상세  */
        SELECT
               BTL_LTR_NO
             , BTL_TITLE   AS TITLE
             , BTL_CONTENT AS CONTENT
          FROM BTL_LTR
         WHERE 1=1
           AND BTL_LTR_NO = #{btlLtrNo}
    </select>



    <insert id="insertBtlLtrMemMpng" parameterType="ReqBtlLtrMemMpng" >
        /* 유리병 편지 조회이력 매핑 인서트 */
        INSERT INTO BTL_LTR_MEM_MPNG
        (
          READ_SEQ_ID
        , BTL_LTR_NO
        , REG_SEQ_ID
        , UPD_SEQ_ID
        )
        VALUES
        (
          #{readSeqId}
        , #{btlLtrNo}
        , #{readSeqId}
        , #{readSeqId}
        )
    </insert>

    <insert id="insertBtlRpy" parameterType="ReqBottleRpyDTO" >
        /* 유리병 편지 조회이력 매핑 인서트 */
        INSERT INTO BTL_LTR_REPLY
        (
          SENDER_SEQ_ID
        , BTL_LTR_NO
        , BTL_RPY_CONTENT
        , REG_SEQ_ID
        , UPD_SEQ_ID
        )
        VALUES
        (
          #{senderSeqId}
        , #{btlLtrNo}
        , #{btlRpyContent}
        , #{senderSeqId}
        , #{senderSeqId}
        )
    </insert>
</mapper>